h2{
  text-align: center;
  margin-inline: auto;
}
.slider-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 600px;
  min-height: 700px;
  margin-inline: auto;
}
.prev-btn, .next-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  width: 100px;
  height: 100px;
  padding: 20px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}
.prev-btn{
  left: 0;
}
.next-btn{
  right: 0;
}
.photos-container{
  /* width: 90%; */
  margin-inline: auto;
}
.photo-item{
  width: 100%;
  /* right: 50%; */
  height: 100%;
  display: none;
  /* transform: translateX(50%); */
  position: absolute;
  transition: transform 1s ease-in-out;
}
.photo-item.active{
  display: block;
}
.photo-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 500px) {
  h2{
    margin-inline: auto;
    text-align: center;
  }
  .slider-container{
    min-width: 400px;
    margin-inline: auto;
  }
}














